<div>
  <form method='POST' action='/sessions'>
  <label name='text'>Username:</label>
  <br>
  <input type='text' name='username'>
  <br>
  <label name='password'>Password</label>
  <br>
  <input type='password' name='password'>
  <br>
  <input type='submit' value='Login'>
  </form>
</div>
