<h2><%= @round.deck.title %></h2>

<h3><%= @card.question %></h3>

<form action="/rounds/<%= @round.id %>/cards/<%= @card.id %>" method="post">
  <input type="text" name="user_guess">
  <input type="submit" value="Enter Guess">
</form>
