<!-- needs right/wrong response -->

<h2><%= @deck.title %> Deck</h2>

<!-- insert suffle method -->
<% @cards.each do |card| %>
  <%= card.question %>
  <form action="/guess" method="POST">
    <input type="text" name="user_unstored_guess">
    <input type="submit" value="submit your guess">
  </form>
<% end %>



